{% load crowdsourcing %}

{% thanks_for_entering request forms survey %}

{% if not entered or not valid %}
  {% for form in forms %}
    {{ form.as_p }}
  {% endfor %}
  <span id="preliminary" class="btn btn-primary btn-large" name="preliminary">Umfrage zwischenspeichern</span>
  <button type="submit" id="finalsubmit" class="btn btn-primary btn-large" name="finalsubmit">Umfrage abschliessen und abschicken</button>
  {% if entered %}
    <span class="error">Please fix the problems above.</span>
  {% endif %}
  <script type="text/javascript">
    // Fill in the form with saved values
    $.ajax({ 
	      url: '/getPreliminary/',
	      data: 'slug={{survey.slug}}'
    }).done(function ( formdata ) {
	$('form').populate( formdata );
    });
    // Submit
    $( "#finalsubmit" ).click(function() {
	  $('form').submit();
    });
    // Save values in form
    $( "#preliminary" ).click(function() {
	$.ajax({
  		url: "/preliminary/",
  		data: "slug={{survey.slug}}&" + "queryString=" + $('form').serialize()
		})
	.done(function( msg ) {
	    window.location.replace( "/" );
	});
    });
  </script>
{% endif %}
{% if entered %}
   <script type="text/javascript">
        $('div.container').html('');
        $('div.container').html('<h1>[do:index]</h1><p> {{ survey.thanks }} </p> <button type="submit" id="backbutton" class="btn btn-primary btn-large" name="backbutton">Zurück zur Umfragenübersicht</button>');
        $('#backbutton').attr('onClick', 'window.location.replace("/")');
   </script>
{% endif %}
