{% load crowdsourcing %}

{% thanks_for_entering request forms survey %}

{% if not entered or not valid %}
  {% for form in forms %}
    {{ form.as_p }}
  {% endfor %}
  <input type="submit" value="Submit" />
  {% if entered %}
    <span class="error">Please fix the problems above.</span>
  {% endif %}
{% endif %}
{% if entered %}
   <script type="text/javascript">
        $('div.container').html('');
        $('div.container').html('<h1>[do:index]</h1><p> {{ survey.thanks }} </p> <button type="submit" id="backbutton" class="btn btn-primary btn-large" name="backbutton">Zurück zur Umfragenübersicht</button>');
        $('#backbutton').attr('onClick', 'window.location.replace("/")');
   </script>
{% endif %}
